.button {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
}

.button:not(:disabled):hover {
    filter: brightness(0.9);
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
